; Config file of the script

[DC=prod,DC=ns,DC=nl]
Upn=prod.ns.nl
PreWin2000=PROD
BeheerOu=OU=Beheer
UseCompanyOu=True

[DC=test,DC=ns,DC=nl]
Upn=test.ns.nl
PreWin2000=TEST
BeheerOu=OU=Beheer
UseCompanyOu=True

[DC=acceptatie,DC=ns,DC=nl]
Upn=acceptatie.ns.nl
PreWin2000=ACCEPT
BeheerOu=OU=Beheer
UseCompanyOu=True

[DC=ontwikkel,DC=ns,DC=nl]
Upn=ontwikkel.ns.nl
PreWin2000=ONTWIKKEL
BeheerOu=OU=Beheer
UseCompanyOu=True


[DC=rs,DC=root,DC=nedtrain,DC=nl]
Upn=rs.root.nedtrain.nl
PreWin2000=RS-NEDTRAIN
BeheerOu=OU=Users,OU=NT-Beheer
UseCompanyOu=False


[DC=rs,DC=root,DC=nedtrain,DC=test]
Upn=rs.root.nedtrain.test
PreWin2000=RS-TEST
BeheerOu=OU=Users,OU=NT-Beheer
UseCompanyOu=False

; Wodan2
[DC=ad,DC=ns,DC=nl]
Upn=ad.ns.nl
PreWin2000=NS
BeheerOu=OU=Accounts
UseCompany=False


[DC=nsc-development,DC=ns,DC=nl]
Upn=nsc-development.ns.nl
PreWin2000=NSC-DEVELOPMENT
BeheerOu=OU=Admin,OU=Accounts,OU=Commercie
UseCompanyOu=False